<h3>Pokemon</h3>
<%= render "shared/search", { path: pokemons_path } %>
<div>
  <% if @response.present? %>
  <table>
    <tr>
      <td>No.</td>
      <td><%= @response["id"] %></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><%= @response["name"] %></td>
    </tr>
  </table>
  <%= image_tag(@response["sprites"]["front_default"], size: "200") %>
  <% else %>
    <p>検索してね！</p>
  <% end %>
</div>
