<h3>Pokemon</h3>
<div>「ポケモンNo.」を入力していください。</div>
<%= render "shared/search", { path: search_path } %>
<div>
  <% if @pokemons.present? %>
    <% @pokemons.each do |pokemon| %>
      <div style="display: inline-block;">
        No. <%= pokemon.order %>,
        Name: <%= pokemon.name %>
        <div>
          <%= image_tag(pokemon.image_url, size: "200") %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
